


/* Header */

.header {
    display: flex;
    align-items: center;
    padding: 8px 32px 8px 16px;
}

.header__block--right {
    display: flex;
    align-items: center;
}

/* Hamburguer */
.hamburguer {
    margin-right: 16px;
}

.hamburguer__button {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 6px 4px;
}

.hamburguer__item {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 4px 0;

}

.hamburguer__item::before,
.hamburguer__item::after {
    content: '';
    position: absolute;
    left: 4px;
    display: block;
    width: calc(100% - 8px);
    height: 1px;
    background-color: #000;
}

.hamburguer__item::before {
    top: 6px;

}
.hamburguer__item::after {
    bottom: 6px;
}

/* Logo */
.logo__link {
    display: block;
    list-style: 0;
}

/* Search */ 
.search {
    max-width: 574px;
    width: 100%;
    margin: 0 auto;
}

.search__form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input {
    width: calc(100% - 94px);
    height: 32px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 1px 0px 0px 1px;
    border-right: 0;
    padding-left: 12px;

    font-size: 14px;
    line-height: 16px;
    color: #888;
}

.search__button--search {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 54px;
    width: 100%;
    height: 32px;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    border: 0px 1px 1px 1px;
    margin-right: 8px;
}

.search__button--voice {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    background-color: #F9F9F9;
    border-radius: 20px;
}

/* Menu User Actions */ 

.menu-user-actions {
    margin-right: 24px;
}

.menu-user-actions__list {
    display: flex;
    align-items: center;
}

.menu-user-actions__item:not(:last-child) {
    margin-right: 20px;
}

.menu-user-link,
.menu-user-profile,
.logo__link {
    display: block;
    line-height: 0;
}

/* Main */
.main {
    display: flex;
}

/* Sidebar */
.sidebar {
    max-width: 196px;
    width: 100%;
    height: calc(100vh - 48px);
    overflow-y: scroll;
    padding-top: 12px;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 20px;
}

/* Menu Group */

.menu-group__title {
    font-size: 12px;
    font-size: 600;
    line-height: 14px;
    text-transform: uppercase;
    color: #636363;
    padding-left: 12px;
    margin: 0 0 18px 0;
}

.menu-group:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.menu-group__link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.menu-group__link--active {
    background-color: #D9D9D9;
}

.menu-group__icon {
    margin-right: 16px;
}

.menu-group__text {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}

.menu-group__link--active .menu-group__text {
    font-weight: 500;
}

.menu-group__alert {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #065FD4;
    border-radius: 100px;
    margin-left: auto;
}

/* ------ Content ------ */

.main-content {
    width: calc(100% - 196px);
}

/* Categories */

.categories {
    padding: 12px 20px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

.categories__list {
    display: flex;
    align-items: center;

    gap: 0 10px;
    
}

.categories__button {
    padding: 6px 12px;
    background-color: #F2F2F2;
    border: 0.5px solid #D9D9D9;
    border-radius: 16px;

    transition: all ease-in-out .2s;
}

.categories__button--active,
.categories__button:hover {
    background-color: #000;
    border-color: #000;
    color: #FFF;
}

/* Banner */

.banner {
    position: relative;
    margin-bottom: 48px;
}

.banner__img {
    width: 100%;
}

.banner_info {
    position: absolute;
    top: calc(50% - 12px);
    transform: translateY(-50%);
    left: 20px;
}

.banner__logo {
    margin-bottom: 16px;
}

.banner__title {
    max-width: 280px;
    display: flex;
    align-items: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 24px;

    color: #000;
}

.banner__link {
    padding: 10px 16px;
    border: 1.5px solid #065FD4;
    border-radius: 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #065FD4;   
}

.banner__close {
    position: absolute;
    top: calc(50% - 74px);
    right: 45px;

    transform: translateY(-50%);
}

/* Gallery */

.gallery {
    padding: 0 28px 48px 20px;
}

.gallery__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 36px 12px;
}

.gallery__item {
    width: calc(25% - ((3 * 12px) / 4))
}

.gallery-video__thumb {
    position: relative;
    line-height: 0;
    margin-bottom: 10px;
}

.gallery-video__image {
    width: 100%;
}

.gallery-video__time {
    position: absolute;
    right: 4px;
    bottom: 4px;

    background: rgba(0,0,0,0.99);
    border-radius: 2px;

    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFF;

    padding: 2px 3px;
}

.gallery-video__info {
    display: flex;
    align-items: flex-start;
}

.gallery-video__block--left {
    margin-right: 12px;
    line-height: 0;
}

.gallery-video__name {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 6px;

    display: flex;
    align-items: center;

    color: #000;
}

.gallery-video__name-user {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    color: #727272;
    margin-bottom: 4px;
}

.gallery-video__icon--check {
    margin-left: 6px;
}

.gallery-video__text {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #727272;
}